(2 pts) What is inductive reasoning? Deductive reasoning? Give an example of each, different from the examples given in class.

Inductive reasoning: Inductive reasoning means figuring out general rules from looking at specific examples, helping us guess what might happen next in similar situations.                 
Deductive reasoning: Deductive reasoning is when you use known facts, rules, or principles to figure out specific conclusions or predictions. 

An example of Inductive Reasoning: detecing spam calls/texts                   
An example of deductive reasoning: Approving bank loans

(8 pts) Preprocess your dataset

In [262]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from typing import List, Tuple
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.metrics import ConfusionMatrixDisplay, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
from sklearn.tree import export_graphviz
from IPython.display import Image
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('adult.csv')

df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 
              'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [263]:
df['income'] = np.where(df['income'].str.contains('<=50K'),'0',df['income'])
df['income'] = np.where(df['income'].str.contains('>50K'),'1',df['income'])



df.dropna(inplace=True)
df.rename(columns={'hours-per-week' : 'hpw',}, inplace=True)

numeric = ['age', 'hpw', 'income']
scaler = StandardScaler()
df[numeric] = scaler.fit_transform(df[numeric])

categorical = ['workclass', 'education', 'marital-status', 'occupation',
               'relationship', 'race', 'sex', 'native-country']
df = pd.get_dummies(df, columns= categorical)
df

,age,fnlwgt,education-num,capital-gain,capital-loss,hpw,income,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.837097,83311,13,0,0,-2.222120,-0.563210,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,-0.042640,215646,9,0,0,-0.035430,-0.563210,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,1.057031,234721,7,0,0,-0.035430,-0.563210,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,-0.775755,338409,13,0,0,-0.035430,-0.563210,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,-0.115952,284582,14,0,0,-0.035430,-0.563210,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,-0.849066,257302,12,0,0,-0.197407,-0.563210,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32556,0.103982,154374,9,0,0,-0.035430,1.775537,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32557,1.423589,151910,9,0,0,-0.035430,-0.563210,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32558,-1.215624,201490,9,0,0,-1.655200,-0.563210,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32559,0.983720,287927,9,15024,0,-0.035430,1.775537,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [264]:
features = list(df.columns[1:])
features

['fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hpw',
 'income',
 'workclass_ ?',
 'workclass_ Federal-gov',
 'workclass_ Local-gov',
 'workclass_ Never-worked',
 'workclass_ Private',
 'workclass_ Self-emp-inc',
 'workclass_ Self-emp-not-inc',
 'workclass_ State-gov',
 'workclass_ Without-pay',
 'education_ 10th',
 'education_ 11th',
 'education_ 12th',
 'education_ 1st-4th',
 'education_ 5th-6th',
 'education_ 7th-8th',
 'education_ 9th',
 'education_ Assoc-acdm',
 'education_ Assoc-voc',
 'education_ Bachelors',
 'education_ Doctorate',
 'education_ HS-grad',
 'education_ Masters',
 'education_ Preschool',
 'education_ Prof-school',
 'education_ Some-college',
 'marital-status_ Divorced',
 'marital-status_ Married-AF-spouse',
 'marital-status_ Married-civ-spouse',
 'marital-status_ Married-spouse-absent',
 'marital-status_ Never-married',
 'marital-status_ Separated',
 'marital-status_ Widowed',
 'occupation_ ?',
 'occupation_ Adm-clerical',
 'occupation_ Armed-Forces',
 'occupation_ Craft-repair',
 'occupation_ Exec-managerial',
 'occupation_ Farming-fishing',
 'occupation_ Handlers-cleaners',
 'occupation_ Machine-op-inspct',
 'occupation_ Other-service',
 'occupation_ Priv-house-serv',
 'occupation_ Prof-specialty',
 'occupation_ Protective-serv',
 'occupation_ Sales',
 'occupation_ Tech-support',
 'occupation_ Transport-moving',
 'relationship_ Husband',
 'relationship_ Not-in-family',
 'relationship_ Other-relative',
 'relationship_ Own-child',
 'relationship_ Unmarried',
 'relationship_ Wife',
 'race_ Amer-Indian-Eskimo',
 'race_ Asian-Pac-Islander',
 'race_ Black',
 'race_ Other',
 'race_ White',
 'sex_ Female',
 'sex_ Male',
 'native-country_ ?',
 'native-country_ Cambodia',
 'native-country_ Canada',
 'native-country_ China',
 'native-country_ Columbia',
 'native-country_ Cuba',
 'native-country_ Dominican-Republic',
 'native-country_ Ecuador',
 'native-country_ El-Salvador',
 'native-country_ England',
 'native-country_ France',
 'native-country_ Germany',
 'native-country_ Greece',
 'native-country_ Guatemala',
 'native-country_ Haiti',
 'native-country_ Holand-Netherlands',
 'native-country_ Honduras',
 'native-country_ Hong',
 'native-country_ Hungary',
 'native-country_ India',
 'native-country_ Iran',
 'native-country_ Ireland',
 'native-country_ Italy',
 'native-country_ Jamaica',
 'native-country_ Japan',
 'native-country_ Laos',
 'native-country_ Mexico',
 'native-country_ Nicaragua',
 'native-country_ Outlying-US(Guam-USVI-etc)',
 'native-country_ Peru',
 'native-country_ Philippines',
 'native-country_ Poland',
 'native-country_ Portugal',
 'native-country_ Puerto-Rico',
 'native-country_ Scotland',
 'native-country_ South',
 'native-country_ Taiwan',
 'native-country_ Thailand',
 'native-country_ Trinadad&Tobago',
 'native-country_ United-States',
 'native-country_ Vietnam',
 'native-country_ Yugoslavia']

Create a decision tree model tuned to the best of your abilities. Explain how you tuned it.

In [265]:
label_encoder = LabelEncoder()

encoded_labels = label_encoder.fit_transform(numeric)

In [266]:
X=df.drop('income', axis=1)
y=df['income']

X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.2, random_state=32)

In [267]:
model = tree.DecisionTreeClassifier(max_depth = 3, random_state=42)

model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
tree.plot_tree(model, feature_names = list(X.columns),
               filled=True, fontsize=6, rounded=True)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

Create a random forest model tuned to the best of your abilities. Explain how you tuned it.

Create an xgboost model tuned to the best of your abilities. Explain how you tuned it.