(5 pts) In 250-500 words, write a thorough explanation in markdown in your notebook of when to use ML and when not to. Do NOT go over the 500-word limit. It is essential to express this concisely. You may need to do additional research on this than what exists in the readings.

It’s best to use Machine Learning when dealing with a large, complex database. Machines are good at finding patterns, which can be useful for when you have a large dataset that needs organizing. Machine Learning is also preferred when you need to make predictions. This is because, as said before, ML is great at finding patterns. An example of machine learning being able to make a prediction is when a house is being listed. Machine Learning is able to predict the price of a house based on it’s features, locations, and overall condition. Finally, another pro to machine learning is that it is very flexible. It is so great at making predictions because it is continously learning and improving from new data. 

You should not use Machine Learning when the data is unreliable. ML requires high quality data in order to get the most accurate results, and unreliable data makes it harder for the machine. Another con to Machine Learning is it is very complex when it comes to interpreting its results. Machine learning has a very complex backing, and it makes understanding how the machine came to it’s conclusion very tough. This proves to be a challenge when you are using machine learning for making healthcare related decisions, where finding out the reasoning behind such decision is crucial.

(6 pts) Perform pre-processing on the dataset. Clearly use markdown to indicate each pre-processing step you are using. Note: you should use at least three different techniques. Depending on your dataset you may need to create new columns from the existent data you have.

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
titanic_df = pd.read_csv('titanic_test_data.csv')

Now we are going to change the column for gender to a numerical value to make it easier to use.

In [90]:
Sex_map = {'male':1,'female':2}
titanic_df['Sex'] = titanic_df['Sex'].map(Sex_map)
titanic_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",NaN,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",NaN,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",NaN,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",NaN,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",NaN,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",NaN,<NA>,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",NaN,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",NaN,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",NaN,<NA>,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",NaN,<NA>,1,1,2668,22.3583,NaN,C

Now, I'm going to replace the values that have NaN with a ? to make it easier for the machine to read.

In [85]:
#titanic_df.fillna('?', inplace=True)
#titanic_df['Fare'] = titanic_df['Fare'].replace({'?':''})
titanic_df.head(50)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",2,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",2,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",1,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",2,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",1,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",2,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",1,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",1,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",1,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",2,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",1,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",2,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",2,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",1,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",1,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",2,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",2,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",1,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",1,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",2,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",1,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",2,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",1,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",2,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",1,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",1,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",1,NaN,2,0,2662,21.6792,NaN,C
30,922,2,"Louch, Mr. Charles Alexander",1,50.0,1,0,SC/AH 3085,26.0000,NaN,S
31,923,2,"Jefferys, Mr. Clifford Thomas",1,24.0,2,0,C.A. 31029,31.5000,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",2,33.0,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",2,NaN,1,2,W./C. 6607,23.4500,NaN,S
34,926,1,"Mock, Mr. Philipp Edmund",1,30.0,1,0,13236,57.7500,C78,C
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",1,18.5,0,0,2682,7.2292,NaN,C
36,928,3,"Roth, Miss. Sarah A",2,NaN,0,0,342712,8.0500,NaN,S
37,929,3,"Cacic, Miss. Manda",2,21.0,0,0,315087,8.6625,NaN,S
38,930,3,"Sap, Mr. Julius",1,25.0,0,0,345768,9.5000,NaN,S
39,931,3,"Hee, Mr. Ling",1,NaN,0,0,1601,56.4958,NaN,S
40,932,3,"Karun, Mr. Franz",1,39.0,0,1,349256,13.4167,NaN,C
41,933,1,"Franklin, Mr. Thomas Parham",1,NaN,0,0,113778,26.5500,D34,S
42,934,3,"Goldsmith, Mr. Nathan",1,41.0,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",2,30.0,0,0,237249,13.0000,NaN,S
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",2,45.0,1,0,11753,52.5542,D19,S
45,937,3,"Peltomaki, Mr. Nikolai Johannes",1,25.0,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,1,"Chevre, Mr. Paul Romaine",1,45.0,0,0,PC 17594,29.7000,A9,C
47,939,3,"Shaughnessy, Mr. Patrick",1,NaN,0,0,370374,7.7500,NaN,Q
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",2,60.0,0,0,11813,76.2917,D15,C
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",2,36.0,0,2,C.A. 37671,15.9000,NaN,S

I'm going to change the datatypes of the columns that are object to string to make it easier to process

In [94]:
titanic_df['Name'] = titanic_df['Name'].astype('string')
titanic_df['Age'] = titanic_df['Age'].astype('string')
titanic_df['Fare'] = titanic_df['Fare'].astype('float')
titanic_df['Embarked'] = titanic_df['Embarked'].astype('string')
titanic_df.dtypes

PassengerId             int64
Pclass                  int64
Name           string[python]
Sex                   float64
Age            string[python]
SibSp                   int64
Parch                   int64
Ticket                 object
Fare                  float64
Cabin                  object
Embarked       string[python]
dtype: object

I'm going to remove the parantheses with the maiden names to make it easier for the machine to process.

(3 pts) Create a correlation matrix with a heatmap for the features. Use markdown to write about your takeaways in under 200 words. Perform feature selection from this. You should likely not be selecting more than 10 features.

In [87]:
correlation_matrix = titanic_df.corr()

ValueError: could not convert string to float: 'Kelly, Mr. James'

(3 pts) Create a box and whisker plot for loan_amounts if using the Lending Club dataset and fare if using the Titanic dataset. How do you handle the null values? What does this box and whisker plot show you?

In [91]:
titanic_df.boxplot(column =['Fare'], grid = False)

(5 pts) If using the Lending Club dataset: create a new column called region that uses a lambda and shows which part of the US someone lives in, split up into Pacific, Plains, Midwest, Northeast, and South. If using the Titanic dataset: create a new column called age_bin that groups people into at least 4 age ranges. 
Either use two different lambdas or a lambda and a different technique and see which one is more performant. Explain your findings in markdown. (use a timer to determine performance: check useful references below to see how timers work)

(3 pts) If using the Lending Club dataset create subplot histograms to show if loan_amounts differ by region. If using the Titanic dataset, create subplot histograms to show how fares differ by age_bin. 
Summarize your findings in under 200 words.